html {
    background-color: rgb(241, 238, 238);
}
body {
    margin: 0 auto;
    background-color: rgb(223, 243, 250);
    width: 1024px;
    font-size: 18px;
    font-family: "Arial", sans-serif;
}
nav {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
h1 {
    text-align: center;
    margin: 20px;
}
h2 {
    margin-left: 20px;
}
p {
    margin-left: 40px;
}
div {
    text-align: center;
}
main ul {
    margin-left: 40px;
}
.menu {
    list-style: none; 
    margin: 0 auto;
}
.menu li {
    display: inline-block;
}
.menu a {
    display: block;
    padding: 1em;
    text-decoration: none;
}
footer {
    font-size: 0.8em;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}